* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

nav {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
}

nav ul li {
    flex: 1 1 auto;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li:first-child {
    display: block;
    font-size: 2rem;
}

nav ul li:first-child a {
    padding: 1px 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

h1,
h2 {
    text-align: center;
    margin: 1rem 0 .5rem;
}

h1 {
    border-bottom: 1px solid #ccc;
}

#movieGrid h1 {
    margin-top: 80px;
}

h2 {
    font-size: 1.5rem;
    color: navy;
    text-align: center;
    margin-top: 25px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

header {
    margin-top: 70px;
}

article {
    margin-bottom: 1rem;
}

article div {
    margin-bottom: .5rem;
    text-align: right;
}

#preference {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#genre-label {
    font-weight: bold;
    font-size: 20px;
  }
 

#genre-options {
    display: flex;
}

#genre-options label {
    margin-right: 20px;
}

#release-year,
    button {
    margin-top: 0px;
    border-radius: 10px;
    padding: 10px;
}

button[type="submit"] {
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}
  

#movieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;
}

#movieList article {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

#movieList h3 {
    margin-bottom: .5rem;
    font-size: 1rem;
}

#movieList img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Class Selectors */
.active {
    border-bottom: 1px solid yellow;
}

.open li {
    display: block;
}

/* Media Queries */
@media only screen and (min-width: 32.5em) {
    nav ul {
        flex-direction: row;
    }

    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: block;
    }

    
}